<div class="page-header">
  <%= link_to search_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_drill_path(@drill), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show drill</h1>
</div>

<dl class="dl-horizontal">
  <dt>Classroom</dt>
  <dd><%= @drill.classroom.name %></dd>
  <dt>Drill Type</dt>
  <dd><%= @drill.drill_type.name %></dd>
  <dt>Frequency</dt>
  <dd><%= @drill.drill_type.required_frequency %></dd>
  <dt>Date due:</dt>
  <dd><%= @drill.date_due %></dd>
  <dt>Date performed:</dt>
  <dd><%= @drill.date_performed %></dd>
  <dt>Teacher:</dt>
  <dd><%= @drill.teacher.name %></dd>
</dl>
